 body{
	 font-style:italic;
	font-weight:bold;
	font-family:'Helvetica','Verdana','Monaco',sans-serif;
 }

.contenedor{
	width:100%;
	max-width%:100%;
	
	margin:0 auto;
	overflow:hidden;
}
a{
	text-decoration:none;
}
ul.barraimg {

	list-style-type: none;
    margin: 0;
    padding: 0;
	
 }
 ul.barraimg li {
	 float: left;
	 
	 }
ul.barraimg li a {
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size:2em;
}
ul.barraimg li a:hover{
	background-color: lightblue;
}
ul.barra2 {
	list-style-type: none;
    margin: auto;
    width:70%;
 }
 ul.barra2 li {
	 float: left;
	 }
ul.barra2 li a {
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
	font-size:2em;
}
ul.barra2 li a:hover{
	background-color: lightblue;
}
.titulo{
	width:70%;
	margin-right:auto;
    margin-left:auto;
	box-sizing:border-box;
	text-align:right;
	
}

.containerimg{
	width:30%;
    margin-right:auto;
    margin-left:auto;
	box-sizing:border-box;
	float: left;
	
}

.nombre{	
	
	font-size:4em;
	
}

.desarrollador{
	
	font-size:3em;
}


ul.listado {
	list-style-type: none;
	text-align: left;
}
ul.sobre {
	list-style-type: none;
	text-align:left;
}
.separador{
	margin: 20em;
}

.containerh1{
  
  width:70%;
  margin-right:auto;
  margin-left:auto;
  background-color: #F0F8FF;
  box-sizing:border-box;
  padding: 3em;
  text-align: left;
  
}
.containerh2{
  width:70%;
  margin-right:auto;
  margin-left:auto;
  background-color:#F0F8FF;
  box-sizing:border-box;
  padding:3rem;
  
  text-align: center;
}
.containerh3{
  background-color:#F0F8FF;
  width:70%;
  margin-right:auto;
  margin-left:auto;
  padding: 3rem;
  text-align: left;
  
  box-sizing:border-box;
}
	
	

h1{
    color:black ;
	text-align:center;
}
h2{
    color:black ;
	text-align:center;
}
footer{
    width:100%;
    margin-right:auto;
    margin-left:auto;
	
    box-sizing:border-box;
	text-align: left;
}

@media screen and (max-width:600px){
	.imagen1{
	width:100%;
	height:auto;
	}
	.titulo{
		width:100%;
	}
	
	.containerh1{
  
  width:100%;
  
  
}
.containerh2{
  width:100%;
  
}
.containerh3{
 
  width:100%;
  
}
	.barraimg{
		width:100%;
	}
	.barra2{
			width:100%;
	}
	
	.footer{
		width:100%;
	}
}


@media screen and (max-width:400px){
	
	.imagen1{
	width:100%;
	height:auto;
	}
	.nombre{
		width:100%;
		text-align: center;
		
	}
	.desarrollador{
		width:100%;
		text-align: center;
		font-size:2em;
	}
	.containerh1{
  
  width:100%;
  margin-right:auto;
  margin-left:auto;
  background-color: #F0F8FF;
  box-sizing:border-box;
  padding: 3em;
  text-align: left;
  
}
.containerh2{
  width:100%;
  margin-right:auto;
  margin-left:auto;
  background-color:#F0F8FF;
  box-sizing:border-box;
  padding:3rem;
  
  text-align: center;
}
.containerh3{
  background-color:#F0F8FF;
  width:100%;
  margin-right:auto;
  margin-left:auto;
  padding: 3rem;
  text-align: left;
  
  box-sizing:border-box;
}
	.barraimg{
		width:100%;
	}
	.barra2{
			width:100%;
	}
	
	.footer{
		width:100%;
	}
}

